body {
	font-family: 'Shojumaru', cursive;
	background-image: url(header.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.faded { color: rgba(0, 255, 100, 0.8); }

.btn {
	margin-top: 475px;
	  font-weight: 900;
      text-transform: uppercase;
      border-radius: 300px;
      font-family: 'Shojumaru', cursive;
      }

.btn-xl {
	padding: 1rem 2rem;
}

.btn-primary {
	background-color: rgba(0, 255, 100, 0.8);
	border-color: #adada9;
}

.btn-primary:hover {
	background-color: #b6b0b7;
	border-color: #f2ee10;
	border-width: 5px;
	cursor: pointer;
}

